<form [formGroup]="formGroup()" [class]="formClass()">
  @for (input of formModel(); track input.fieldName) {
  @switch (input.fieldType) {
  @case (FieldType.TEXT) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <input matInput type="text" [formControlName]="input.fieldName" [readonly]="input.isReadonly" />
    @if (input.prefixIcon) {
    <mat-icon matPrefix>{{input.prefixIcon}}</mat-icon>
    }
    @if (input.suffixIcon) {
    <mat-icon matSuffix>{{input.suffixIcon}}</mat-icon>
    }
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (!input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case (FieldType.TEXTAREA) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <textarea matInput type="text" [formControlName]="input.fieldName" [readonly]="input.isReadonly"></textarea>
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (!input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case (FieldType.NUMBER) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <input matInput type="number" inputmode="numeric" pattern="[0-9]*" [formControlName]="input.fieldName"
      [readonly]="input.isReadonly" />
    @if (input.prefixIcon) {
    <mat-icon matPrefix>{{input.prefixIcon}}</mat-icon>
    }
    @if (input.suffixIcon) {
    <mat-icon matSuffix>{{input.suffixIcon}}</mat-icon>
    }
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (!input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case (FieldType.PASSWORD) {
  <ng-container [ngTemplateOutlet]="password" [ngTemplateOutletContext]="{input}" />
  }
  @case (FieldType.DATEPICKER) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <input matInput [min]="input.minDate" [max]="input.maxDate" [matDatepicker]="picker"
      [formControlName]="input.fieldName" [readonly]="input.isReadonly">
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="input.isReadonly" />
    <mat-datepicker #picker />
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (!input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case(FieldType.DATERANGE) {
  @let errorMessage = handleErrors(input.fieldName) | async;
  @let isClearValueShown = !input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value &&
  formGroup().get(input.dateRangeSecondFieldName ?? '')?.value;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <mat-date-range-input [min]="input.minDate" [max]="input.maxDate" [rangePicker]="picker">
      <input matStartDate [formControlName]="input.fieldName" [readonly]="input.isReadonly">
      <input matEndDate [formControlName]="input.dateRangeSecondFieldName ?? ''" [readonly]="input.isReadonly">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="input.isReadonly" />
    <mat-date-range-picker #picker />
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (isClearValueShown) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case (FieldType.RADIO) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <label [id]="'radio-group-label'+input.label">{{input.label | translate}}</label>
  <mat-radio-group [attr.aria-labelledby]="'radio-group-label'+input.label" [class]="input.inputClass"
    [formControlName]="input.fieldName">
    @for (opt of input.radioOptions; track opt.key) {
    <mat-radio-button [value]="opt.key" [disabled]="input.isReadonly">{{opt.value}}</mat-radio-button>
    }
  </mat-radio-group>
  @if (input.hint) {
  <mat-hint>{{input.hint}}</mat-hint>
  }
  @if(errorMessage){
  <mat-error>{{errorMessage}}</mat-error>
  }
  }
  @case (FieldType.COLOR) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label> {{input.label | translate}} </mat-label>
    <input type="text" matInput readonly [formControlName]="input.fieldName"
      (click)="colorInput.click(); $event.stopImmediatePropagation()" />
    @if (!input.isReadonly) {
    <button mat-icon-button matSuffix (click)="colorInput.click(); $event.stopPropagation()">
      <mat-icon>palette</mat-icon>
    </button>
    }
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  <input #colorInput style="visibility: hidden; height: 0; width: 0;" type="color"
    [value]="input.fieldValue ?? blackColor" (change)="onColorChange($event, input.fieldName)">
  }
  @case (FieldType.CHECKBOX) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-checkbox [class]="input.inputClass" [formControlName]="input.fieldName">
    {{input.label | translate}}</mat-checkbox>
  @if (input.hint) {
  <mat-hint>{{input.hint}}</mat-hint>
  }
  @if(errorMessage){
  <mat-error>{{errorMessage}}</mat-error>
  }
  }
  @case (FieldType.SLIDETOGGLE) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <mat-slide-toggle [class]="input.inputClass" [formControlName]="input.fieldName">
    {{input.label | translate}}
  </mat-slide-toggle>
  @if (input.hint) {
  <mat-hint>{{input.hint}}</mat-hint>
  }
  @if(errorMessage){
  <mat-error>{{errorMessage}}</mat-error>
  }
  }
  <!-- TODO -->
  @case (FieldType.FILE) {
  <!-- <button type="button" mat-raised-button (click)="fileInput.click()">{{"FORM.chooseFile" | translate}}</button>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file">
  <span class="ms-3">{{selectedFile?.name}}</span> -->
  }
  @case (FieldType.SLIDER) {
  @let errorMessage = handleErrors(input.fieldName) | async;

  <label [id]="'slider-label'+input.label">{{input.label | translate}}</label>
  <mat-slider [class]="input.inputClass" [attr.aria-labelledby]="'slider-label'+input.label" discrete
    [max]="input.maxValue ?? 100" [min]="input.minValue ?? 0" [step]="input.stepValue ?? 1"
    [disabled]="input.isReadonly">
    @if(input.rangeSliderFieldName){
    <input [formControlName]="input.fieldName" matSliderStartThumb>
    <input [formControlName]="input.rangeSliderFieldName" matSliderEndThumb>
    } @else {
    <input matSliderThumb [formControlName]="input.fieldName">
    }
  </mat-slider>
  @if (input.hint) {
  <mat-hint>{{input.hint}}</mat-hint>
  }
  @if(errorMessage){
  <mat-error>{{errorMessage}}</mat-error>
  }
  }
  @case (FieldType.AUTOCOMPLETE) {
  @let errorMessage = handleErrors(input.fieldName) | async;
  @let options = getSelectOptions(input, inputRef.value) | async;

  <mat-form-field [class]="input.inputClass">
    <mat-label>{{input.label | translate}}</mat-label>
    <input #inputRef type="text" matInput [matAutocomplete]="auto" [formControlName]="input.fieldName"
      [readonly]="input.isReadonly">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (opt of options; track opt.key) {
      <mat-option [value]="opt">
        <span>{{opt.value}}</span>
      </mat-option>
      }
    </mat-autocomplete>
    @if (input.prefixIcon) {
    <mat-icon matPrefix>{{input.prefixIcon}}</mat-icon>
    }
    @if (input.suffixIcon) {
    <mat-icon matSuffix>{{input.suffixIcon}}</mat-icon>
    }
    @if (input.hint) {
    <mat-hint>{{input.hint}}</mat-hint>
    }
    @if (!input.isReadonly && input.clearFieldValue && formGroup().get(input.fieldName)?.value) {
    <button matSuffix type="button" mat-icon-button aria-label="Clear" (click)="clearInputValue(input, $event)">
      <mat-icon>close</mat-icon>
    </button>
    }
    @if(errorMessage){
    <mat-error>{{errorMessage}}</mat-error>
    }
  </mat-form-field>
  }
  @case (FieldType.TIMEPICKER) {}
  }
  }

  <ng-template #password let-input="input">
    @let errorMessage = handleErrors(input.fieldName) | async;
    <mat-form-field [class]="input.inputClass">
      <mat-label> {{input.label | translate}} </mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControlName]="input.fieldName">
      <button mat-icon-button matSuffix type="button" (click)="toggleVisibility($event)"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (errorMessage) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
  </ng-template>

  <mat-divider />
  <div class="d-flex align-items-center my-3 justify-content-end" [class]="actionsClass()">
    @if(contentProjection()){
    <ng-content />
    }

    @if (!hideCancelBtn()) {
    <button mat-raised-button [disabled]="!formGroup().valid" color="warn">
      <mat-icon>{{cancelButtonIcon()}}</mat-icon>
      {{cancelButtonText() | translate}}
    </button>
    }
    @if (!hideSubmitBtn()) {
    <button mat-raised-button type="submit" color="primary" [disabled]="!formGroup().valid"
      [class]="submitButtonClass()" (click)="onSubmit()">
      <mat-icon> {{submitButtonIcon()}} </mat-icon>
      {{submitButtonText() | translate}}
    </button>
    }
  </div>
</form>