<form [formGroup]="formGroup()" [class]="formClass()">
  @for (input of formModel(); track input.fieldName) {
  @let control = formGroup().get(input.fieldName) | formControl;

  @switch (input.fieldType) {
  @case (FieldType.TEXT) { <text-input [input]="input" [control]="control" /> }
  @case (FieldType.TEXTAREA) { <text-area-input [input]="input" [control]="control" /> }
  @case (FieldType.NUMBER) { <number-input [input]="input" [control]="control" /> }
  @case (FieldType.PASSWORD) {
  <ng-container [ngTemplateOutlet]="password" [ngTemplateOutletContext]="{input, control}" />
  }
  @case (FieldType.DATEPICKER) { <date-picker-input [control]="control" [input]="input" /> }
  @case (FieldType.DATERANGE) {
  @let rangeControl = formGroup().get(input.dateRangeSecondFieldName ?? '') | formControl;
  <date-range-input [control]="control" [input]="input" [rangeControl]="rangeControl" />
  }
  @case (FieldType.RADIO) { <radio-input [control]="control" [input]="input" /> }
  @case (FieldType.COLOR) { <color-input [control]="control" [input]="input" /> }
  @case (FieldType.CHECKBOX) { <checkbox-input [input]="input" [control]="control" /> }
  @case (FieldType.SLIDETOGGLE) { <slide-toggle-input [input]="input" [control]="control" /> }
  @case (FieldType.FILE) { <file-input /> }
  @case (FieldType.SLIDER) {
  @let rangeControl = input.rangeSliderFieldName
  ? (formGroup().get(input.rangeSliderFieldName) | formControl)
  : undefined;
  <slider-input [input]="input" [control]="control" [rangeControl]="rangeControl" />
  }
  @case (FieldType.AUTOCOMPLETE) { <autocomplete-input [input]="input" [control]="control" /> }
  @case (FieldType.SELECT) { <select-input /> }
  @case (FieldType.MULTISELECTAUTOCOMPLETE) { <multi-select-auto-complete-input /> }
  @case (FieldType.TIMEPICKER) { <time-picker-input /> }
  }
  }

  <ng-template #password let-input="input" let-control="control">
    <password-input [input]="input" [control]="control" />
  </ng-template>

  <mat-divider />
  <div class="d-flex align-items-center my-3 justify-content-end" [class]="actionsClass()">
    @if(contentProjection()){
    <ng-content />
    }

    @if (!hideCancelBtn()) {
    <button mat-raised-button [disabled]="!formGroup().valid" color="warn">
      <mat-icon>{{cancelButtonIcon()}}</mat-icon>
      {{cancelButtonText() | translate}}
    </button>
    }
    @if (!hideSubmitBtn()) {
    <button mat-raised-button type="submit" color="primary" [disabled]="!formGroup().valid"
      [class]="submitButtonClass()" (click)="onSubmit()">
      <mat-icon> {{submitButtonIcon()}} </mat-icon>
      {{submitButtonText() | translate}}
    </button>
    }
  </div>
</form>