<mat-card appearance="outlined">
  <mat-card-content>
    @if (loading()) {
    <mat-progress-bar style="margin-top: -4px;" mode="query" />
    }

    <table mat-table matSort fixedLayout="true" [dataSource]="dataSource" [trackBy]="trackByFn"
      [multiTemplateDataRows]="isExpandable() && expandableRowTemplate()" (matSortChange)="onSortChange($event)">

      @if (isSelectable()) {
      <ng-container matColumnDef="checkboxSelection">
        <th class="border-dotted" matRipple mat-header-cell *matHeaderCellDef>
          @if (multiSelect() && dataSource.data.length) {
          <mat-checkbox (change)="toggleAll()" [checked]="selectionModel()?.hasValue() && isAllSelected()"
            [indeterminate]="selectionModel()?.hasValue() && !isAllSelected()">
          </mat-checkbox>
          }
        </th>
        <td class="border-dotted" matRipple mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row)"
            [checked]="selectionModel()?.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      }

      @if (isExpandable() && expandableRowTemplate()) {
      <ng-container matColumnDef="expandedDetail">
        <td class="border-dotted" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns().length"
          (click)="toggleRowExpansion(element)">
          <div class="d-flex overflow-hidden" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="p-3">
              @switch (expandableRowTemplate()) {
              @default { Template not found }
              @case ('customRow') {
              <ng-container [ngTemplateOutlet]="customExpandedRowTpl" [ngTemplateOutletContext]="{element}" />
              }
              }
            </div>
          </div>
        </td>
      </ng-container>
      }

      @for (column of columns(); track column; let first = $first) {
      <ng-container [matColumnDef]="column.key">
        <th class="border-dotted half-opacity" mat-header-cell *matHeaderCellDef matRipple mat-sort-header>{{
          column.header }} </th>

        @if (!column.actions) {
        <td class="border-dotted" mat-cell matRipple *matCellDef="let element">
          <div class="d-flex align-items-center">
            @if (isExpandable() && expandableRowTemplate() && first) {
            <button mat-icon-button aria-label="expand row" (click)="toggleRowExpansion(element, $event)">
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
            }

            @if (!column.cell && !column.custom) {
            {{ element[column.key] ?? '--' }}
            } @else if(column.cell) {
            {{ column.cell(element) }}
            } @else if(column.custom) { @switch (column.template) {
            @default { Template not found }
            @case ('custom-template') {
            <ng-template [ngTemplateOutlet]="customColumnTemplate" [ngTemplateOutletContext]="{ $implicit: element }" />
            }
            } }
          </div>
        </td>
        } @else {
        <td (click)="$event.stopPropagation()" class="border-dotted" mat-cell *matCellDef="let element">
          @if (column.actions.isMenu) {
          <button mat-mini-fab matTooltip="Actions" [color]="column.actions.menuButtonColor" [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{buttons: column.actions.buttons, element}" (click)="$event.stopPropagation()">
            <mat-icon [color]="column.actions.menuIconColor">menu</mat-icon>
          </button>
          } @else {
          <div style="display: flex; gap: 1rem;">
            @for (button of column.actions.buttons; track button) {
            @if(!button.hide?.(element)){
            @switch (button.type) {
            @case ('icon') {
            <button mat-icon-button #tooltip="matTooltip" [color]="button.color" [matTooltip]="button.tooltip"
              [matTooltipPosition]="button.tooltipPosition ?? 'before'" [class]="button.class"
              [disabled]="isButtonDisabled(button, element)" (click)="onButtonClick(button, element)">
              @if (button.icon) {<mat-icon [color]="button.iconColor">{{button.icon}}</mat-icon>}
            </button>
            }
            @case ('mini-fab') {
            <button [color]="button.color" mat-mini-fab #tooltip="matTooltip" [matTooltip]="button.tooltip"
              [matTooltipPosition]="button.tooltipPosition ?? 'before'" [class]="button.class"
              [disabled]="isButtonDisabled(button, element)" (click)="onButtonClick(button, element)">
              @if (button.icon) {<mat-icon [color]="button.iconColor">{{button.icon}}</mat-icon>}
            </button>
            }
            }
            }
            }
          </div>
          }
        </td>
        }
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns()" (click)="toggleRowExpansion(element)"
        class="example-element-row"></tr>
      @if (isExpandable() && expandableRowTemplate()) {<tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row">
        <!-- [class.d-none]="row !== expandedElement" -->
        <!-- TODO this fixes opening glitch on expandable rows when table renders but ruins the closing animation -->
      </tr>}
      <tr *matNoDataRow>
        <td [attr.colspan]="displayedColumns().length">
          <div class="d-flex justify-content-center p-5">
            No data
          </div>
        </td>
      </tr>
    </table>

    <mat-paginator aria-label="Select page" showFirstLastButtons [pageSizeOptions]="pageSizeOptions"
      [pageSize]="paginationParams().pageSize" [pageIndex]="paginationParams().pageIndex"
      [length]="paginationParams().totalCount" (page)="onPageChange($event)" />
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-buttons="buttons" let-element="element">
    @for (btn of buttons; track btn) {
    <button mat-menu-item [class]="btn.class" [disabled]="isButtonDisabled(btn, element)"
      (click)="onButtonClick(btn, element)">
      @if (btn.icon) {<mat-icon [color]="btn.iconColor">{{btn.icon}}</mat-icon>}
      {{btn.text}}
    </button>
    }
  </ng-template>
</mat-menu>

<ng-template #customColumnTemplate let-element>{{element.username}}</ng-template>
<ng-template #customExpandedRowTpl let-element="element">{{ element?.username}}</ng-template>