@if (user | async; as user) {
<div class="h-100 p-5 d-flex justify-content-center align-items-center">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> {{user.username}} </mat-card-title>
      <mat-card-subtitle> {{"PROFILE.CREATE" | translate}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createProfileService.fg">
        <div class="row">
          <text-input class="col-md-6" [input]="createProfileService.firstNameInput"
            [control]="createProfileService.fg.get(createProfileService.firstNameInput.fieldName) | formControl" />
          <text-input class="col-md-6" [input]="createProfileService.lastNameInput"
            [control]="createProfileService.fg.get(createProfileService.lastNameInput.fieldName) | formControl" />
        </div>
        <div class="row">
          <phone-number-input class="col"
            [control]="createProfileService.fg.get(createProfileService.phoneNumberInput.fieldName) | formControl"
            [input]="createProfileService.phoneNumberInput" />
          <!-- TODO -->
          <!-- <mat-form-field class="col">
              <mat-label>Profile photo</mat-label>
              <input matInput formControlName="profilePicture" />
              <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
            </mat-form-field>
            <input type="file" #fileInput style="display: none" (change)="onFileChange($event)" /> -->
        </div>
        <div class="row">
          <text-area-input
            [control]="createProfileService.fg.get(createProfileService.textAreaInput.fieldName) | formControl"
            [input]="createProfileService.textAreaInput" />
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="!createProfileService.fg.valid"
        (click)="createProfileService.createProfile()">
        <mat-icon>check</mat-icon>
        {{"FORM.SUBMIT" | translate}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
}